
.auth_main{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    height: 100vh;
    width:  100vw;
}

.auth_conteiner{
    background: white ;
    padding: 2%;
    box-shadow: 3px 3px $dark-grey;
    border-radius: 10px;
}

.loading-img{
    display: flex;
    flex-direction: column;
    background-color: $primary;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}